html, body {
    margin: 0;
    padding: 0;
    height: 80%;
}
body{
    display: grid;
    align-content: space-between;
}
main > p{
     display:flex;
     justify-content:center;
     align-items:center;
     width:60%;

}
main aside{
    float: left;
}
body > header {
    height: 40px;
}
body > header > * {
    float: left;
}
body > header > nav {
    float:right;
}