a{
background-color: blue;
color: black;
text-decoration: none;
}
.gallery img {
border: 1px solid red;
}

header{
background-color: green;
font-family: verdana;
font-size: 15px;
text-align: center;
}
body{
background-color:pink;
float: right;
}

main{
    display:flex;
    justify-content:center;
     align-items:center;}

.meniu_item {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0 10px;
    border-right: 1px solid white;
}
.meniu_item:last-child {
    border-right: none;
}

* {
  box-sizing: border-box;
}

form {
  width: 400px;
  margin: 50px auto;
}

form input {
  width: 100%;
  padding: 10px;
}